
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Navbar</title>
    <link rel="stylesheet" href="home.component.scss">
</head>
<body>
    <header>
        <img class="logo" src="https://admin.google.com/u/0/ac/images/logo.gif?uid=116247234495119474058&service=google_gsuite" alt="companylogo" width="100px" height="100px">
        <nav>
            <ul class="navLinks">
                <li><a routerLink="#">Services</a></li>
                <li><a routerLink="#">Projects</a></li>
                <li><a routerLink="#">About</a></li>
                <li><a routerLink="feedback">Feedback</a></li>

            </ul>
        </nav>
        <a class="cta"href="#"><button>Contact</button></a>
    </header>    
        

</body>